body {
    margin: 0;
    margin-top: 60px;
    font-family: sans-serif;
}

header {
    display: flex;
    position: fixed;
    height: 65px;
    line-height: 65px;
    background-color: burlywood;
    overflow: hidden;
}

header * {
    display: inline;
    height: 65px;
}

.section2 {
    height: 200px;
    border: 2px solid black;
    display: flex;
    padding: 20px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section3 {
    height: 50vh;
    border: 2px solid black;
    display: flex;
    padding: 20px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section4 {
    height: 50vh;
    border: 2px solid black;
    display: flex;
    padding: 20px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section5 {
    height: 200px;
    border: 2px solid black;
    display: flex;
    padding: 20px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section6 {
    height: 200px;
    border: 2px solid black;
    display: flex;
    padding: 20px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}